<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

Hello from index

<form enctype="multipart/form-data" method="post" action="/upload">
    <input type="file" name="image" />
    <input type="submit"/>
</form>

{{ range .}}
<h1>{{ . }}</h1>

<img src="images/{{.}}">
{{ end }}

</body>
</html>