<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Your Own Adventure</title>
</head>
<body>

{{ if .Title }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ if .Story }}    
    {{ range .Story }}
        <p>{{ . }}</p>
    {{ end }}
{{ end }}

{{ if .Options }}
    <ol>
    {{ range .Options }}
        <li><a href="{{ .Arc }}">{{ .Text }}</a></li>
    {{ end }}
    <ol>
{{ end }}

</body>
</html>